<ng-template #navTemplate>
  <app-nav [actionLabel]="'navigation.wiki' | translate" (action)="goTo('wiki')" [showBack]="false"></app-nav>
</ng-template>

<ng-template #contentTemplate>
  <div class="d-flex flex-column h-100 pt-2">
    <div class="rounded p-3 bg-dark">
      <app-measurement></app-measurement>

      <div class="mt-3">
        <button class="btn btn-outline-primary" (click)="goTo('smart')">
          {{ 'button.smartHome' | translate }}
        </button>
      </div>
    </div>

    <div class="mt-auto">
      <div class="row m-0 mt-2 p-0 d-flex">
        <button class="btn btn-outline-dark me-2 w-fit" (click)="goTo('privacy')">
          {{ 'button.privacy' | translate }}
        </button>
        <button class="btn btn-outline-dark w-fit ms-auto" (click)="openGit()">
          {{ 'button.git' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-base-page showContent="true" [navTemplate]="navTemplate" [contentTemplate]="contentTemplate"></app-base-page>
