<ng-template #navTemplate>
  <app-nav [actionLabel]="'navigation.wiki' | translate" (action)="goTo('wiki')" [showBack]="false"></app-nav>
</ng-template>

<ng-template #contentTemplate>
  <div class="d-flex flex-column h-100">
    <div class="d-flex flex-wrap h-100 pt-2 overflow-auto mb-2 rounded align-content-start">
      <div class="row w-100 m-0">
        <div class="col-sm-6 col-12 pb-3 px-0 h-fit h-sm-100">
          <div class="rounded p-3 bg-dark me-sm-2 me-0 h-fit h-sm-100 d-flex flex-column">
            <app-measurement></app-measurement>

            <div class="mt-auto pt-2">
              <button class="btn btn-outline-primary" (click)="goTo('smart')">
                {{ 'button.smartHome' | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12 mb-3 h-fit px-0">
          <div class="rounded p-3 bg-dark ms-sm-2 ms-0">
            <app-weather></app-weather>
          </div>
        </div>
      </div>

      <div class="row w-100 rounded m-0">
        <div class="p-3 bg-dark rounded"><app-forecast></app-forecast></div>
      </div>
    </div>

    <div class="mt-auto">
      <div class="row m-0 mt-2 p-0 d-flex">
        <button class="btn btn-outline-dark me-2 w-auto" (click)="goTo('privacy')">
          {{ 'button.privacy' | translate }}
        </button>
        <button class="btn btn-outline-dark w-auto ms-auto" (click)="openGit()">
          {{ 'button.git' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-base-page showContent="true" [navTemplate]="navTemplate" [contentTemplate]="contentTemplate"></app-base-page>
