<button *ngIf="!(isLoggedIn$ | async); else profile" class="btn btn-primary" aria-labelledby="login" (click)="login()">
  login
</button>
<ng-template #profile>
  <div ngbDropdown class="d-inline-block">
    <button
      type="button"
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      aria-labelledby="actions"
      ngbDropdownToggle
    >
      {{ (profile$ | async)?.email }}
    </button>
    <div *ngIf="{ editable: (isEditable$ | async) }; let context" ngbDropdownMenu aria-labelledby="dropdown-menu">
      <button ngbDropdownItem (click)="toggleEdit()" aria-labelledby="togge-edit">
        <span *ngIf="isEditable$ | async; else enable">disable editing</span>
        <ng-template #enable>
          <span *ngIf="!context.editable">enable editing</span>
        </ng-template>
      </button>
      <button ngbDropdownItem (click)="logout()" aria-labelledby="logout">logout</button>
    </div>
  </div>
</ng-template>
