<button *ngIf="!(isLoggedIn$ | async); else profile" class="btn btn-primary" aria-labelledby="login" (click)="login()">
  login
</button>
<ng-template #profile>
  <div dropdown class="d-inline-block btn-group dropdown-wrapper">
    <button
      type="button"
      class="btn btn-outline-primary dropdown-toggle"
      id="button-basic"
      aria-labelledby="actions"
      aria-controls="dropdown-basic"
      dropdownToggle
    >
      {{ (profile$ | async)?.email }}
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <button class="dropdown-item" href="#" (click)="toggleShowActions()" aria-labelledby="togge-edit">
          <span *ngIf="showActions$ | async; else enable">hide actions</span>
          <ng-template #enable>
            <span *ngIf="!(showActions$ | async)">show actions</span>
          </ng-template>
        </button>
      </li>
      <li role="menuitem">
        <button class="dropdown-item" href="#" (click)="logout()" aria-labelledby="logout">logout</button>
      </li>
    </ul>
  </div>
</ng-template>
