<button *ngIf="!(isLoggedIn$ | async); else profile" class="btn btn-primary" aria-labelledby="login" (click)="login()">
  {{ 'button.login' | translate }}
</button>
<ng-template #profile>
  <div dropdown class="d-inline-block btn-group dropdown-wrapper" container="body">
    <button
      type="button"
      class="btn btn-outline-primary dropdown-toggle"
      id="button-basic"
      aria-labelledby="actions"
      aria-controls="profile-dorpdown"
      dropdownToggle
    >
      {{ (profile$ | async)?.email }}
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="profile-dorpdown">
      <li role="menuitem">
        <button class="dropdown-item" href="#" (click)="toggleShowActions()" aria-labelledby="togge-edit">
          <span *ngIf="showActions$ | async; else enable">{{ 'action.login.hide' | translate }}</span>
          <ng-template #enable>
            <span *ngIf="!(showActions$ | async)">{{ 'action.login.show' | translate }}</span>
          </ng-template>
        </button>
        <button *ngIf="isAdmin$ | async" class="dropdown-item" (click)="goToAdmin()" aria-labelledby="admin-page">
          <span>{{ 'action.login.admin' | translate }}</span>
        </button>
      </li>
      <li role="menuitem">
        <button class="dropdown-item" href="#" (click)="logout()" aria-labelledby="logout">
          {{ 'button.logout' | translate }}
        </button>
      </li>
    </ul>
  </div>
</ng-template>
