<div class="m-3">
  <form [formGroup]="form">
    <div class="row m-0 fw-bold h5 mb-3">
      <span class="p-0" *ngIf="!isEdit">{{ 'label.section.create' | translate }}</span>
      <span class="p-0" *ngIf="isEdit">{{ 'label.section.edit' | translate }}</span>
    </div>
    <div class="row m-0 mt-3">
      <label class="p-0" for="inputTitle">{{ 'label.section.title' | translate }}</label>
      <input name="inputTitle" class="w-100" formControlName="title" />
    </div>
    <div class="row m-0 mt-3">
      <label class="p-0" for="inputText">{{ 'label.section.text' | translate }}</label>
      <textarea
        name="inputText"
        class="w-100 input-text-area"
        formControlName="text"
        onclick='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
        oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
      ></textarea>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
      <button [disabled]="!form.valid" class="btn btn-primary" (click)="save()">{{ 'button.save' | translate }}</button>
      <button class="btn btn-primary mx-3" (click)="cancel()">{{ 'button.cancel' | translate }}</button>
    </div>
  </form>
</div>
