<div class="position-relative" [ngClass]="{ 'border rounded p-2 my-2': section.depth > 0 }">
  <app-section-nav
    [section]="section"
    [isCollapsed]="isCollapsed"
    (addSection)="add()"
    (editSection)="edit()"
    (deleteSection)="delete()"
    (collapseSection)="collapse()"
  ></app-section-nav>

  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <app-revision *ngIf="section.latestRevision" [revision]="section.latestRevision"></app-revision>
    <app-section *ngFor="let section of section.subsections" [section]="section"></app-section>
    <ng-template [appHasAccess]="section.createdBy">
      <button *ngIf="section.depth === 0" type="button" class="btn btn-sm btn-outline-primary" (click)="add()">
        add section
      </button>
    </ng-template>
  </div>
</div>
<ng-container *ngIf="!(isEditable$ | async) && section.depth === 0 && section.subsections.length === 0">
  <button type="button" class="btn btn-sm btn-outline-primary" (click)="add()">create first section</button>
</ng-container>
