<div class="border rounded p-2 my-2 position-relative">
  <app-revision
    *ngIf="section.latestRevision"
    (editSection)="edit()"
    (deleteSection)="delete()"
    (addSection)="add()"
    [revision]="section.latestRevision"
    [createdBy]="section.createdBy"
  ></app-revision>
  <app-section *ngFor="let section of section.subsections" [section]="section"></app-section>
  <div *appHasAccess="section.createdBy">
    <button *ngIf="section.depth === 0" type="button" class="btn btn-outline-primary" (click)="add()">
      add section
    </button>
  </div>
</div>
