@import 'src/styles/variables';

.section-item {
  &:hover {
    border-color: $primary !important;
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.section-title {
  &:hover {
    color: $primary;
  }
}
