$primary: #ccccf0;
$secondary: #a1a6f5;
$success: #6b9080;
$info: #70a9a1;
$warning: #ffb703;
$danger: #e63946;
$light: #f1faee;
$dark: #271b2c;

$body-bg: #2b2d42;

//futhermore it's necessary override the $theme-colors
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$body-bg-dark: $body-bg;

$border-radius: 1rem;
