@import 'bootstrap';
@import 'variables';

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.modal-content {
  border-radius: $border-radius;
}
