<ul class="w-100 p-0">
  <li
    class="mx-2 mb-1 p-2 row article-item border rounded"
    *ngFor="let article of articles"
    (click)="viewArticle(article)"
  >
    <div class="col my-2">
      {{ article.title }}
    </div>
    <div *appHasAccess="article.createdBy" class="col-auto me-0 ms-auto">
      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
          (click)="dropdown($event)"
        >
          action
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button class="dropdown-item" (click)="edit(article, $event)">edit</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="delete(article, $event)">delete</button></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
