<ul class="w-100 p-0">
  <li
    class="pointer mx-0 mb-1 p-2 row article-item border rounded"
    *ngFor="let article of articles"
    (click)="viewArticle(article)"
  >
    <div class="col my-2">
      {{ article.title }}
    </div>
    <div *appHasAccess="article.createdBy" class="col-auto my-2 ms-auto">
      <app-action-item [text]="'delete'" icon="trash-can" (action)="delete(article)" size="bg"></app-action-item>
      <app-action-item [text]="'edit'" icon="pen" (action)="edit(article)" size="bg"></app-action-item>
    </div>
  </li>
</ul>
