.card {
  min-width: 12rem;
  background: rgba(29, 53, 87, 0.85);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(29, 53, 87, 0.3);
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.02, 1.06);
}

.card:hover > .cardContent {
  background-position: -10% 0%;
}

.card:before {
  @apply rounded text-black absolute left-0 top-0 h-full w-full z-10;
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(241, 250, 238) 66%, 
    rgb(241, 250, 238) 83.5%, 
    rgb(241, 250, 238) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  transition: background-position 350ms ease, transform 350ms ease;
}
