.back-mobile {
  display: none;
}

@media only screen and (max-width: 576px) {
  .article-title {
    order: -1;
  }

  .back-mobile {
    display: block;
    width: fit-content;
  }

  .back-desktop {
    display: none;
    width: fit-content;
  }
}
