@import '/src/styles/variables';

.mobile {
  display: none;
  &__flex {
    display: none;
  }
}

.desktop {
  display: flex;

  .title-contents {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 576px) {
  .article-title {
    order: -1;
  }

  .mobile {
    display: block;
    width: fit-content;
    &__flex {
      display: flex;
      width: 100%;
    }
  }

  .desktop {
    display: none;
    width: fit-content;
  }
}

.nav-component {
  background-color: $dark;
}
