<div class="m-3">
  <div class="card-body">
    <h1 class="card-title">Login</h1>
    <div class="container d-flex justify-content-center">
      <div *ngIf="!isLoggedin" class="w-fit m-3">
        <form [formGroup]="form" (ngSubmit)="loginUser()">
          <div class="form-group">
            <label>email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group mt-2">
            <label>password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="form-group mt-2">
            <button class="btn btn-primary" type="submit">login</button>
            <button class="btn btn-primary mx-2">register</button>
          </div>

        </form>
        <div class="mt-5">
          <asl-google-signin-button type="standard" size="large" width="200"></asl-google-signin-button>
        </div>
      </div>

      <div *ngIf="isLoggedin">
        <div class="form-group">
          <span>Logged in as {{socialUser.email}}</span>
        </div>
        <button class="btn btn-primary mt-2" type="button" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </div>
</div>
