<ng-template #navTemplate>
  <app-nav></app-nav>
</ng-template>

<ng-template #contentTemplate>
  <div
    *ngIf="{ devices: (devices$ | async), measurements: (measurements$ | async) }; let context"
    class="d-flex flex-column h-100"
  >
    <div *ngFor="let device of context.devices" class="border-bottom pb-2 mb-2">
      <div *ngIf="context?.measurements?.[device.id]" class="row m-0 mb-2 justify-content-center">
        <button class="btn btn-outline-secondary me-2 w-auto" (click)="setOffset(device.id, 1)">today</button>
        <button class="btn btn-outline-secondary me-2 w-auto" (click)="setOffset(device.id, 7)">week</button>
        <button class="btn btn-outline-secondary w-auto" (click)="setOffset(device.id, 0)">all</button>
      </div>
      <div *ngIf="context?.measurements?.[device.id]">
        <div echarts [options]="options" [merge]="updateOptions[device.id]" class="demo-chart"></div>
      </div>
    </div>
  </div>
</ng-template>

<app-base-page showContent="true" [navTemplate]="navTemplate" [contentTemplate]="contentTemplate"></app-base-page>
