.HeaderText {
    @apply pb-8 text-center text-4xl sm:text-6xl font-bold hover:text-light ease-in-out duration-200;
    text-shadow: 0 0 2px black;
}

.NavContainer {
    @apply max-h-fit sm:max-h-screen overflow-visible sm:overflow-auto;
}
