@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100vh;
  place-items: center;
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  min-height: fit-content;
  @apply text-white;
}

.LinkTopContainer {
  @apply text-right p-4 absolute top-0 right-0 h-16 w-32;
  
  & .LinkTop {
    @apply transition-all hover:text-light ease-in-out duration-200;
  }
}

.LinkTopContainer.AlignLeft {
  @apply right-auto text-left w-fit;
}

.HideScrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.HideScrollbars::-webkit-scrollbar {  /* Chrome */
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

